form(ng-submit='create()')
  input(ng-model='newFeed.url')
  button Create

ul
  li(ng-repeat='feed in feeds')
    a(href='#' ng-click='fetch(feed.url)') {{ feed.name }}

ul
  li(ng-repeat='entry in entries')
    a(href='{{ entry.link }}' target='_blank') {{ entry.title }}