.container-fluid
  .row
    .feeds
      ul.feed-list
        li.feed-list-item(ng-repeat='feed in feeds')
          a(href='#' ng-click='fetch(feed.url)') 
            img.favicon(src='https://plus.google.com/_/favicon?domain={{ feed.link }}')
            {{ feed.name }}

      form(ng-submit='create()')
        input(ng-model='newFeed.url')
        button Add

    .entries

    .article
      ul.article-options(ng-show='article')
        li: a(href='#', ng-click='fetchContent(article.link)') Full Article
      .article-content
        span(ng-bind-html='article.fullContent')
        h2 {{ article.title }}
        span(ng-bind-html='article.content')